---
import Layout from "../layouts/Layout.astro";
import {getAllDecks, getAllCrafts} from '../api'
import DeckRow from "../components/DeckRow.astro";

const decks = await getAllDecks();
const crafts = await getAllCrafts();
const imageUrl = `https://s3.ca-central-1.wasabisys.com/shadow-master/craft-thumbnails/`
---

<Layout title="All decks">
  <div class="w-full max-w-screen-md mx-auto">
    
    <div class="mt-8">
      <h1 class="text-accent font-oswald text-lg mb-3">Filter By Craft</h1>
      <div class="flex flex-wrap items-center">
        {crafts.map(craft => <>
          <div class="m-2 flex flex-col items-center">
            <a href={`/craft/${craft.name.toLowerCase()}`}><img
              class="border-2 border-white object-cover w-12 h-12 rounded-lg" 
              src={imageUrl+craft.name.toLowerCase()+'.png'} alt=""></a>
          </div>
        </>)}
      </div>
    </div>
    <div class="border border-secondary mt-8 rounded-lg">
      <h1 class="rounded-t-lg text-white bg-secondary p-3 font-oswald text-2xl">All Decks In Celestial Dragonblade</h1>

      {decks.map(d => <DeckRow craft={d.craft} title={d.title} link={d.deck_link} />)}
    </div>
  </div>
</Layout>