---
import Layout from '../layouts/Layout.astro';
import {getRecentCommunityDecks, getAllCrafts, getPopularArchetypes} from '../api'
import PopularArchetypesSection from '../components/PopularArchetypesSection.astro';
import RecentDecksSection from '../RecentDecksSection.astro';

const recentDecks = await getRecentCommunityDecks();
const crafts = await getAllCrafts();
const popularArchetypes = await getPopularArchetypes();
---

<Layout title="Shadowverse Master">
	<div class="w-full max-w-screen-md mx-auto mt-10 px-5">
		<PopularArchetypesSection archetypes={popularArchetypes} />

		<RecentDecksSection decks={recentDecks}/>
	</div> 
</Layout>
