---
import Layout from '../layouts/Layout.astro';
import {db} from '../../firebaseSettings';
import {collection, getDocs, orderBy, limit, query, where} from "firebase/firestore";

const decks = [];

const archetypesRef = collection(db, "archetypes");
const q = query(archetypesRef, orderBy("points", "desc"), where("points", ">", 40));
const snapshot = await getDocs(q);
const imageBucket = 'https://s3.ca-central-1.wasabisys.com/shadow-data/archetypes/wyrm/';
let total = 0;
snapshot.forEach(doc => {
	const d = doc.data();
	total+= d.points;
	decks.push({
		name: d.name,
		points: d.points,
		image: imageBucket + d.name.toLowerCase().replaceAll(' ', '-') + '.jpg'
	})
})

---

<Layout title="Tier List">
	<div class="w-full max-w-screen-md mx-auto mt-20">
		<h1 class="font-bold text-2xl text-white">Top Decks of the Format</h1>

		<div class="grid grid-cols-3 gap-4 mt-10">
			{decks.map( deck => (
				<div class="relative h-[50px] border border-secondary rounded-md">
					<img class="object-cover w-full h-full absolute rounded-md" src={deck.image} >
					<div class="flex items-center w-full absolute inset-0 p-2">
						<span class="font-bold text-white text-lg">{deck.name}</span>
					</div>
				</div>
			))}
		</div>
	</div>
</Layout>
