---
import Layout from '../layouts/Layout.astro';
import {db} from '../../firebaseSettings';
import {collection, getDocs, orderBy, limit, query, where, collectionGroup, getDoc} from "firebase/firestore";

const decks = [];

const archetypesRef = collection(db, "rotations/roar-of-the-godwyrm/archetypes");
const q = query(archetypesRef, orderBy("points", "desc"), where("points", ">", 5));

const snapshot = await getDocs(q);
const imageBucket = 'https://s3.ca-central-1.wasabisys.com/shadow-data/archetypes/wyrm/';
let total = 0;
snapshot.forEach(doc => {
	const d = doc.data();
	total+= d.points;
	decks.push({
		name: d.name,
		points: d.points,
		id: doc.id
	})
})

---

<Layout title="Tier List">
	<div class="w-full max-w-screen-md mx-auto mt-20">
		<h1 class="font-bold text-2xl text-white">Top Decks of the Format</h1>

		<div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-10">

			{decks.map( deck => (
				<a href={"archetype/"+deck.id}>
					<div class="w-full h-[80px] relative border-white border">
						<img src={imageBucket+deck.id+'.png'} 
							class="absolute w-full h-full object-cover" />
						<div class="flex w-full absolute items-center justify-center bg-black/75 h-full">
							<h2 class="text-white font-bold text-2xl">{deck.name}</h2>
						</div>
					</div>
				</a>
			))}
		</div>
	</div>
</Layout>
