---
import Layout from '../layouts/Layout.astro';
import {getTopArchetypesSupa} from '../api'
import PopularArchetypesSection from '../components/PopularArchetypesSection.astro';
import RecentDecksSection from '../RecentDecksSection.astro';
import DeckHighlightSection from '../components/DeckHighlightSection.astro';

// const recentDecks = await getRecentCommunityDecks();
// const recentDecks = await getNewDecks();
// const topArchetypes = await ();
const popularArchetypes = await getTopArchetypesSupa();
---

<Layout title="Shadowverse Master">
	<div class="w-full max-w-screen-lg mx-auto mt-10 px-5 mb-10">
		<PopularArchetypesSection archetypes={popularArchetypes} />

		<!-- <RecentDecksSection decks={recentDecks}/> -->
		<div class="mt-16">
			<DeckHighlightSection />
		</div>
	</div> 
</Layout>
