---
import ArchetypesLeaderboard from "../components/archetypes/ArchetypesLeaderboard.astro";
import MainLayout from "../layouts/MainLayout.astro"

---

<MainLayout title="Shadowverse Master">
  <div class="w-full px-2 mt-10">
    <ArchetypesLeaderboard />
  </div>
</MainLayout>