---
import { Archetype } from '../database/archetypes';
import { ArchetypeData } from '../interfaces';
import LargePopularArchetype from './archetypes/LargePopularArchetype.astro';
import PopularArchetype from './archetypes/PopularArchetype.astro';

export interface Props {
  archetypes: Archetype[]
}

const {archetypes} = Astro.props;
const mostPopular = archetypes[0];
const otherPopular = archetypes.slice(1);
---
<div class="w-full">
  <h1 class="text-white truncate text-lg flex items-center font-heading">
    <span class="text-accent mr-2 w-6 h-6 relative">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="text-white/40 absolute blur-[2px] fill-current w-6 h-6">
        <path fill-rule="evenodd" d="M14.615 1.595a.75.75 0 01.359.852L12.982 9.75h7.268a.75.75 0 01.548 1.262l-10.5 11.25a.75.75 0 01-1.272-.71l1.992-7.302H3.75a.75.75 0 01-.548-1.262l10.5-11.25a.75.75 0 01.913-.143z" clip-rule="evenodd" />
      </svg>	
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="absolute fill-current w-6 h-6">
        <path fill-rule="evenodd" d="M14.615 1.595a.75.75 0 01.359.852L12.982 9.75h7.268a.75.75 0 01.548 1.262l-10.5 11.25a.75.75 0 01-1.272-.71l1.992-7.302H3.75a.75.75 0 01-.548-1.262l10.5-11.25a.75.75 0 01.913-.143z" clip-rule="evenodd" />
      </svg>									
    </span>
    Popular Archetypes
  </h1>
  <div class="grid grid-cols-2 gap-3 w-full mt-3 md:grid-cols-4">

    <LargePopularArchetype archetype={mostPopular} />
    {otherPopular.map(archetype => <PopularArchetype archetype={archetype} />)}
  </div>

  <div class="w-full flex justify-end items-center mt-4">
    <a href="/archetypes" 
    class="flex items-center bg-secondary hover:bg-secondary/60 px-3 py-2 rounded-md text-primary transition duration-300 text-sm font-heading">
    View All Archetypes
    <span class="ml-1">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
      </svg>      
    </span>
  </a>
  </div>
</div>