---
import { viewDeckList } from "../../../api";
import Layout from "../../../layouts/Layout.astro"
const {deckId} = Astro.params;

const deckData = await viewDeckList(deckId as number);
---

<Layout title="Deck View">

  <div class="w-full max-w-screen-lg mx-auto mt-10">

    <h1 class="text-white">Deck Display.</h1>
<!-- 
    <div class="grid grid-cols-1 md:grid-cols-8 gap-1 p-3 ">
      {deckData.map(d => (
        <img src={d.imageLink} class="w-full object-cover h-full rounded-lg" />
      ))}
    </div> -->
  </div>
</Layout>