---
import { getDeckDetails, viewDeckList } from "../../../api";
import DeckList from "../../../components/decks/DeckList.astro";
import { FullDeckCardDetails } from "../../../interfaces";
import Layout from "../../../layouts/Layout.astro"
const {deckId} = Astro.params;

const deckData: FullDeckCardDetails[] = await getDeckDetails(deckId as number);
---

<Layout title="Deck View">

  <div class="w-full max-w-screen-lg mx-auto mt-10 px-5 flex flex-col md:flex-row">

    <DeckList deckData={deckData} />

    <div class="w-full md:flex-1 px-2 m-0 md:ml-3">
      <h1 class="text-lg text-secondary font-heading">Deck Info</h1>
    </div>

  </div>
</Layout>